header .logo {
  font-weight: 600;
  font-size: 20px;
}

header .nav {
  display: flex;
  align-items: center;
  float: right;
  list-style: none;
}

header .nav li {
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: 0.3s linear;
}

header .nav li:hover {
  opacity: 0.5;
}

header .presentation {
  margin: 50px 0;
  background: url("../../../assets/bg.png");
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-color: #bcbcbc;
  position: relative;
  padding: 100px 50px;
}

header h1 {
  width: 325px;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}

header p {
  font-size: 15px;
  color: #fff;
}

.active {
  color: #dc3d3d;
}

.shop-cart {
  position: absolute;
  top: 75px;
  right: 100px;
  width: 450px;
  min-height: 100px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  z-index: 100;
}
