@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: inherit;
}
